*{
	padding: 0;
	margin: 0;
}
#app{
	width: 400px;
	margin: 30px auto;
}
#app .content .inputs{
	display: flex;
	margin-bottom: 10px;
}
#app .content .inputs input{
	flex-grow: 1;
	padding: 5px;
}
#app .content .inputs button{
	padding: 5px;
	margin-left: 5px;
}